hr{
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    margin: auto;
    z-index: 1;
   
}
.ps-r{
    position: relative;
}
.abs{
    position: absolute;
    top: 23px;
    right: 38%;
}
.-mb{
    margin-bottom: -20px;
    z-index: 2;
}

/* hover effect  */
.cardMain{
    position: relative;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.35);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

}
.card-img{
    display: block;
    width: 100%;
    height: auto;
}


.cardMain:hover .overlay{
    height: 100%;
}

/* padding 50% */
.p-50p{
    padding-top: 50%;
    padding-left: 50%;
}